sudo: false
language: node_js
cache:
  directories:
    - ~/.npm
notifications:
  email: false
node_js:
  - '12'
  - '10'
  - '8'
  - '6'
addons:
  chrome: stable
before_script :
  - npm install -g grunt-cli
after_success:
  - npm run coveralls
  - npx semantic-release
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
